/*
Color mode toggle visibility follows Docusaurus default at 996px breakpoint
 */

/*
Restore some Infima style that broke with CSS Cascade Layers
See https://github.com/facebook/docusaurus/pull/11142
 */
:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}
