/* BASIC STRUCTURE */

.card {
  display: flex;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

/* ORIENTATIONS */

.vertical {
  flex-direction: column;
  align-items: left;
}

.horizontal {
  flex-direction: row;
  align-items: left;
}

.horizontal .title {
  margin-bottom: 0.25rem;
}

/* APPEARANCES */

.flush {
  background-color: transparent;
  border: solid 1px #ddd;
  box-shadow: none;
}

html[data-theme="dark"] .flush {
  border: solid 1px var(--ifm-color-emphasis-300);
}

.float {
  background-color: #f9fbfc;
  border: solid 1px transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

html[data-theme="dark"] .float {
  background-color: var(--ifm-background-surface-color);
  border: solid 1px var(--ifm-color-emphasis-300);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.invisible {
  border: solid 1px transparent;
  background-color: transparent;
  box-shadow: none;
  padding: 1rem 0;
}

/* CONTENT */

.card .icon {
  height: 60px;
  object-fit: contain;
  object-position: left;
  margin-bottom: 1rem;
}

/* Use filters to make our icons appear legible in the dark
 * theme. Note that this depends on all icon files using the
 * plum purple (gw-purple-900) by default.
 */
html[data-theme="dark"] .icon {
  /* matches --ifm-color-primary */
  filter: brightness(2.5) hue-rotate(25deg);

  /* matches gruntwork brand purple */
  /*filter: brightness(1.5) hue-rotate(10deg);*/

  /* brighter "brand" purple */
  filter: brightness(2) hue-rotate(10deg);
}

.card .title {
  margin: 0;
}

.card .description {
  margin-top: 0.75rem;
}

.card strong {
  font-weight: 600;
}

.card address {
  font-weight: 600;
  text-decoration: underline;
  font-style: normal;
  display: inline;
}

.card > div:first-child > *:first-child {
  margin-top: 0;
}

.card > div:last-child > *:last-child {
  margin-bottom: 0;
}

.card .num {
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: -1rem !important;
  color: #5849a6;
}

/* TAGS */

ul.tags {
  padding: 1em 0 0 0;
  margin: auto 0 0 0;
}

ul.tags li {
  list-style: none;
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f0f5;
  padding: 0 0.5rem;
  margin-right: 0.5em;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #333;
}

html[data-theme="dark"] ul.tags li {
  background-color: #666;
  color: black;
}

/* LINKS & HOVER */

.cardlink,
.cardlink:hover {
  text-decoration: none;
  color: inherit;
}

.cardlink .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  background-color: #f9fbfc;
}

html[data-theme="dark"] .cardlink .card:hover {
  background-color: var(--ifm-background-surface-color);
  border-color: var(--ifm-color-primary);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.cardlink .card:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

html[data-theme="dark"] .cardlink .card:active {
  border-color: var(--ifm-color-primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.cardlink .invisible:hover,
html[data-theme="dark"] .cardlink .invisible:hover {
  border: solid 1px transparent;
  background: transparent;
  box-shadow: none;
}

.cardlink .invisible:hover h3 {
  color: var(--ifm-color-primary);
}

.cardlink .flush:hover {
  border-color: transparent;
}
