.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #f9fbfc;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: 0.15s ease-in-out;
}

.card .icon {
  height: 60px;
  object-fit: contain;
  object-position: left;
  margin-bottom: 1rem;
}

.card p:last-child {
  margin-bottom: 0;
}

.cardlink,
.cardlink:hover {
  text-decoration: none;
  color: inherit;
}

.cardlink .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.cardlink .card:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

html[data-theme="dark"] .card {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--ifm-background-color);
  border: solid 1px var(--ifm-color-emphasis-300);
}

html[data-theme="dark"] .cardlink .card:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--ifm-background-surface-color);
  border-color: var(--ifm-color-primary);
}

html[data-theme="dark"] .cardlink .card:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  border-color: var(--ifm-color-primary);
}
