.author {
  color: gray;
}

.author img {
  border-radius: 100%;
  border: solid 1px gray;
  background-color: gray;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.metadata {
  padding-left: 1.5rem;
  background-position: left center;
  background-size: contain;
  margin-right: 2rem;
  background-repeat: no-repeat;
  color: gray;
}

.videos {
  background-image: url("/img/courses/video.svg");
}

.duration {
  background-image: url("/img/courses/clock.svg");
}
