.mainContainer {
  max-width: 420px;
  margin: auto;
  background: #f9fbfc;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

html[data-theme="dark"] .mainContainer {
  background-color: var(--ifm-background-surface-color);
}

.buttonsContainer {
  flex: auto;
  text-align: right;
  font-weight: 600;
}

.buttonsContainer > * {
  margin-right: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
  display: flex;
}

html[data-theme="dark"] .overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
