/* BASIC STRUCTURE */

.container {
  max-width: 600px;
  margin-top: 4rem;
}

.card_container_max_width {
  min-width: 300px;
  max-width: 300px;
  max-height: 200px;
  margin: 0 auto;
}

.card_result {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
}

.SearchContainerItem {
  width: 300px;
}

.SearchContainerDropdown {
  width: 300px;
}

.NoResultsContainer {
  max-width: 600px;
  align-items: center;
}

.NoResults {
  font-size: large;
  color: rgba(40, 40, 40, 0.628);
  font-style: italic;
}

.SearchContainerItemHeader {
  font-size: x-small;
  align-items: start;
  font-weight: 600;
  color: rgba(40, 40, 40, 0.628);
  margin-bottom: 0;
}

.SearchInputContainer {
  height: 40.40px;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.SearchInput {
  align-items: center;
  background: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 3px;
  padding-top: 0px;
  color: hsl(0, 0%, 20%);
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 2px 8px;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  outline: 1px solid hsl(0, 0%, 80%);
  margin-left: 1px;
  margin-top: 0px;
  font-size: 15px;
  font-family: "Source Sans Pro";
}

.SearchInput:focus-visible {
  outline: 2px solid #6f5bd7;
}

.FacetListContainer {
  position:absolute;
}

@media only screen and (max-width: 640px) {
  .card_container_max_width {
    width: 100%;
    max-width: unset;
  }
  .container {
    width: 100%
  }
  .SearchContainerItem {
    width: 100%
  }
  .SearchContainerDropdown {
    width: 100%
  }
  .FacetListContainer {
    width: 100%;
    padding-right: 1.7rem;
  }
}
