/* BASIC STRUCTURE */

.container {
  max-width: 600px;
  margin-top: 4rem;
}

.card_container_max_width {
  max-width: 400px;
  max-height: 200px;
  margin: 0 auto;
}

.card_result {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

.SearchContainerItem {
  width: 400px;
}

.SearchContainerDropdown {
  width: 400px;
}

.NoResultsContainer {
  max-width: 600px;
  align-items: center;
}

.NoResults {
  font-size: large;
  color: rgba(40, 40, 40, 0.628);
  font-style: italic;
}

.SearchContainerItemHeader {
  font-size: x-small;
  align-items: start;
  font-weight: 600;
  color: rgba(40, 40, 40, 0.628);
  margin-bottom: 0;
}

.SearchInput {
  align-items: center;
  background: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 3px;
  color: hsl(0, 0%, 20%);
  display: flex;
  font-weight: 500;
  height: 38px;
  justify-content: space-between;
  padding: 0 8px;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  outline: 1px solid hsl(0, 0%, 80%);
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}

input:focus-visible {
  outline: 2px solid #2684FF;
  border-radius: 4px;
}

input:hover{
  outline: 1px solid hsl(0, 0%, 70%);;
}

.FacetListContainer {
  position:absolute;
}
