.versionBadge {
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f0f5;
  padding: 0 0.5rem;
  font-weight: 600;
  color: #333;
}

html[data-theme="dark"] .versionBadge {
  background-color: #fff;
  opacity: 0.2;
  color: black;
}

.lastModificationLabel {
  color: #666;
  margin-left: 1rem;
}
