/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* default */
/*  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);*/

  /* purple */
  --ifm-color-primary: #6f5bd7;
  --ifm-color-primary-dark: #5942d1;
  --ifm-color-primary-darker: #4f36ce;
  --ifm-color-primary-darkest: #3f2aac;
  --ifm-color-primary-light: #8574dd;
  --ifm-color-primary-lighter: #8f80e0;
  --ifm-color-primary-lightest: #b0a5e9;

  /* blue */
/*  --ifm-color-primary: #17A9F9;
  --ifm-color-primary-dark: #069cef;
  --ifm-color-primary-darker: #0694e1;
  --ifm-color-primary-darkest: #057aba;
  --ifm-color-primary-light: #32b3fa;
  --ifm-color-primary-lighter: #3fb8fa;
  --ifm-color-primary-lightest: #67c6fb;*/

  --ifm-menu-color-background-hover: #E7F0F5;
  --ifm-menu-color-background-active: #E7F0F5;

  --ifm-navbar-height: 100px;

  --ifm-font-family-base: "Source Sans Pro";
  --ifm-code-font-size: 95%;
  /*--ifm-font-size-base: 110%;*/
  --ifm-h1-font-size: 2.5rem; /* ! */
  --ifm-heading-color: #252746;
}

html[data-theme='dark'] {
  --ifm-menu-color-background-hover: rgba(255, 255, 255, 0.05);
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.05);
  --ifm-heading-color: white;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
  /* Source Sans Pro is a little wide at larger sizes, especially when bold */
  letter-spacing: -0.05rem;
}


/* NAVBAR + LOGO */

.navbar__brand {
  width: calc(var(--doc-sidebar-width) - var(--ifm-navbar-padding-horizontal));
  border-right:  1px solid var(--ifm-toc-border-color);
  padding-right:  1em;
  display: grid;
  align-items: center;
  justify-items: center;
}

.navbar__logo {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.navbar {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}

html[data-theme='dark'] .navbar {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.75);
}


/* THEME TOGGLE SWITCH */

.toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
  margin-left: 1rem;
}

html[data-theme='dark']
.toggleIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module:after {
  height: 20px;
  width:  20px;
  font-size: 0px;
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAyQzEwLjI2NTIgMiAxMC41MTk2IDIuMTA1MzYgMTAuNzA3MSAyLjI5Mjg5QzEwLjg5NDYgMi40ODA0MyAxMSAyLjczNDc4IDExIDNWNEMxMSA0LjI2NTIyIDEwLjg5NDYgNC41MTk1NyAxMC43MDcxIDQuNzA3MTFDMTAuNTE5NiA0Ljg5NDY0IDEwLjI2NTIgNSAxMCA1QzkuNzM0NzggNSA5LjQ4MDQzIDQuODk0NjQgOS4yOTI4OSA0LjcwNzExQzkuMTA1MzYgNC41MTk1NyA5IDQuMjY1MjIgOSA0VjNDOSAyLjczNDc4IDkuMTA1MzYgMi40ODA0MyA5LjI5Mjg5IDIuMjkyODlDOS40ODA0MyAyLjEwNTM2IDkuNzM0NzggMiAxMCAyVjJaTTE0IDEwQzE0IDExLjA2MDkgMTMuNTc4NiAxMi4wNzgzIDEyLjgyODQgMTIuODI4NEMxMi4wNzgzIDEzLjU3ODYgMTEuMDYwOSAxNCAxMCAxNEM4LjkzOTEzIDE0IDcuOTIxNzIgMTMuNTc4NiA3LjE3MTU3IDEyLjgyODRDNi40MjE0MyAxMi4wNzgzIDYgMTEuMDYwOSA2IDEwQzYgOC45MzkxMyA2LjQyMTQzIDcuOTIxNzIgNy4xNzE1NyA3LjE3MTU3QzcuOTIxNzIgNi40MjE0MyA4LjkzOTEzIDYgMTAgNkMxMS4wNjA5IDYgMTIuMDc4MyA2LjQyMTQzIDEyLjgyODQgNy4xNzE1N0MxMy41Nzg2IDcuOTIxNzIgMTQgOC45MzkxMyAxNCAxMFYxMFpNMTMuNTM2IDE0Ljk1TDE0LjI0MyAxNS42NTdDMTQuNDMxNiAxNS44MzkyIDE0LjY4NDIgMTUuOTQgMTQuOTQ2NCAxNS45Mzc3QzE1LjIwODYgMTUuOTM1NCAxNS40NTk0IDE1LjgzMDIgMTUuNjQ0OCAxNS42NDQ4QzE1LjgzMDIgMTUuNDU5NCAxNS45MzU0IDE1LjIwODYgMTUuOTM3NyAxNC45NDY0QzE1Ljk0IDE0LjY4NDIgMTUuODM5MiAxNC40MzE2IDE1LjY1NyAxNC4yNDNMMTQuOTUgMTMuNTM2QzE0Ljc2MTQgMTMuMzUzOCAxNC41MDg4IDEzLjI1MyAxNC4yNDY2IDEzLjI1NTNDMTMuOTg0NCAxMy4yNTc2IDEzLjczMzYgMTMuMzYyOCAxMy41NDgyIDEzLjU0ODJDMTMuMzYyOCAxMy43MzM2IDEzLjI1NzYgMTMuOTg0NCAxMy4yNTUzIDE0LjI0NjZDMTMuMjUzIDE0LjUwODggMTMuMzUzOCAxNC43NjE0IDEzLjUzNiAxNC45NVYxNC45NVpNMTUuNjU2IDQuMzQzQzE1Ljg0MzUgNC41MzA1MyAxNS45NDg4IDQuNzg0ODQgMTUuOTQ4OCA1LjA1QzE1Ljk0ODggNS4zMTUxNiAxNS44NDM1IDUuNTY5NDcgMTUuNjU2IDUuNzU3TDE0Ljk1IDYuNDY0QzE0Ljg1NzggNi41NTk1MSAxNC43NDc0IDYuNjM1NjkgMTQuNjI1NCA2LjY4ODFDMTQuNTAzNCA2Ljc0MDUxIDE0LjM3MjIgNi43NjgxIDE0LjIzOTQgNi43NjkyNUMxNC4xMDY2IDYuNzcwNCAxMy45NzQ5IDYuNzQ1MSAxMy44NTIgNi42OTQ4MkMxMy43MjkxIDYuNjQ0NTQgMTMuNjE3NSA2LjU3MDI5IDEzLjUyMzYgNi40NzY0QzEzLjQyOTcgNi4zODI1IDEzLjM1NTUgNi4yNzA4NSAxMy4zMDUyIDYuMTQ3OTVDMTMuMjU0OSA2LjAyNTA2IDEzLjIyOTYgNS44OTMzOCAxMy4yMzA3IDUuNzYwNkMxMy4yMzE5IDUuNjI3ODIgMTMuMjU5NSA1LjQ5NjYgMTMuMzExOSA1LjM3NDZDMTMuMzY0MyA1LjI1MjU5IDEzLjQ0MDUgNS4xNDIyNSAxMy41MzYgNS4wNUwxNC4yNDMgNC4zNDNDMTQuNDMwNSA0LjE1NTUzIDE0LjY4NDggNC4wNTAyMSAxNC45NSA0LjA1MDIxQzE1LjIxNTIgNC4wNTAyMSAxNS40Njk1IDQuMTU1NTMgMTUuNjU3IDQuMzQzSDE1LjY1NlpNMTcgMTFDMTcuMjY1MiAxMSAxNy41MTk2IDEwLjg5NDYgMTcuNzA3MSAxMC43MDcxQzE3Ljg5NDYgMTAuNTE5NiAxOCAxMC4yNjUyIDE4IDEwQzE4IDkuNzM0NzggMTcuODk0NiA5LjQ4MDQzIDE3LjcwNzEgOS4yOTI4OUMxNy41MTk2IDkuMTA1MzYgMTcuMjY1MiA5IDE3IDlIMTZDMTUuNzM0OCA5IDE1LjQ4MDQgOS4xMDUzNiAxNS4yOTI5IDkuMjkyODlDMTUuMTA1NCA5LjQ4MDQzIDE1IDkuNzM0NzggMTUgMTBDMTUgMTAuMjY1MiAxNS4xMDU0IDEwLjUxOTYgMTUuMjkyOSAxMC43MDcxQzE1LjQ4MDQgMTAuODk0NiAxNS43MzQ4IDExIDE2IDExSDE3Wk0xMCAxNUMxMC4yNjUyIDE1IDEwLjUxOTYgMTUuMTA1NCAxMC43MDcxIDE1LjI5MjlDMTAuODk0NiAxNS40ODA0IDExIDE1LjczNDggMTEgMTZWMTdDMTEgMTcuMjY1MiAxMC44OTQ2IDE3LjUxOTYgMTAuNzA3MSAxNy43MDcxQzEwLjUxOTYgMTcuODk0NiAxMC4yNjUyIDE4IDEwIDE4QzkuNzM0NzggMTggOS40ODA0MyAxNy44OTQ2IDkuMjkyODkgMTcuNzA3MUM5LjEwNTM2IDE3LjUxOTYgOSAxNy4yNjUyIDkgMTdWMTZDOSAxNS43MzQ4IDkuMTA1MzYgMTUuNDgwNCA5LjI5Mjg5IDE1LjI5MjlDOS40ODA0MyAxNS4xMDU0IDkuNzM0NzggMTUgMTAgMTVWMTVaTTUuMDUgNi40NjRDNS4xNDI4NCA2LjU1NjkxIDUuMjUzMDggNi42MzA2MiA1LjM3NDQxIDYuNjgwOTNDNS40OTU3NCA2LjczMTI0IDUuNjI1OCA2Ljc1NzE2IDUuNzU3MTUgNi43NTcyQzUuODg4NDkgNi43NTcyNSA2LjAxODU3IDYuNzMxNDIgNi4xMzk5MyA2LjY4MTJDNi4yNjEzIDYuNjMwOTggNi4zNzE1OSA2LjU1NzM0IDYuNDY0NSA2LjQ2NDVDNi41NTc0MSA2LjM3MTY2IDYuNjMxMTIgNi4yNjE0MiA2LjY4MTQzIDYuMTQwMDlDNi43MzE3NCA2LjAxODc2IDYuNzU3NjYgNS44ODg3IDYuNzU3NyA1Ljc1NzM1QzYuNzU3NzUgNS42MjYwMSA2LjczMTkyIDUuNDk1OTMgNi42ODE3IDUuMzc0NTdDNi42MzE0OCA1LjI1MzIgNi41NTc4NCA1LjE0MjkxIDYuNDY1IDUuMDVMNS43NTcgNC4zNDNDNS41Njg0IDQuMTYwODQgNS4zMTU4IDQuMDYwMDUgNS4wNTM2IDQuMDYyMzNDNC43OTE0IDQuMDY0NiA0LjU0MDU5IDQuMTY5NzcgNC4zNTUxOCA0LjM1NTE4QzQuMTY5NzcgNC41NDA1OSA0LjA2NDYgNC43OTE0IDQuMDYyMzMgNS4wNTM2QzQuMDYwMDUgNS4zMTU4IDQuMTYwODQgNS41Njg0IDQuMzQzIDUuNzU3TDUuMDUgNi40NjRWNi40NjRaTTYuNDY0IDE0Ljk1TDUuNzU3IDE1LjY1N0M1LjU2ODQgMTUuODM5MiA1LjMxNTggMTUuOTQgNS4wNTM2IDE1LjkzNzdDNC43OTE0IDE1LjkzNTQgNC41NDA1OSAxNS44MzAyIDQuMzU1MTggMTUuNjQ0OEM0LjE2OTc3IDE1LjQ1OTQgNC4wNjQ2IDE1LjIwODYgNC4wNjIzMyAxNC45NDY0QzQuMDYwMDUgMTQuNjg0MiA0LjE2MDg0IDE0LjQzMTYgNC4zNDMgMTQuMjQzTDUuMDUgMTMuNTM2QzUuMjM4NiAxMy4zNTM4IDUuNDkxMiAxMy4yNTMgNS43NTM0IDEzLjI1NTNDNi4wMTU2IDEzLjI1NzYgNi4yNjY0MSAxMy4zNjI4IDYuNDUxODIgMTMuNTQ4MkM2LjYzNzIzIDEzLjczMzYgNi43NDI0IDEzLjk4NDQgNi43NDQ2NyAxNC4yNDY2QzYuNzQ2OTUgMTQuNTA4OCA2LjY0NjE2IDE0Ljc2MTQgNi40NjQgMTQuOTVWMTQuOTVaTTQgMTFDNC4yNjUyMiAxMSA0LjUxOTU3IDEwLjg5NDYgNC43MDcxMSAxMC43MDcxQzQuODk0NjQgMTAuNTE5NiA1IDEwLjI2NTIgNSAxMEM1IDkuNzM0NzggNC44OTQ2NCA5LjQ4MDQzIDQuNzA3MTEgOS4yOTI4OUM0LjUxOTU3IDkuMTA1MzYgNC4yNjUyMiA5IDQgOUgzQzIuNzM0NzggOSAyLjQ4MDQzIDkuMTA1MzYgMi4yOTI4OSA5LjI5Mjg5QzIuMTA1MzYgOS40ODA0MyAyIDkuNzM0NzggMiAxMEMyIDEwLjI2NTIgMi4xMDUzNiAxMC41MTk2IDIuMjkyODkgMTAuNzA3MUMyLjQ4MDQzIDEwLjg5NDYgMi43MzQ3OCAxMSAzIDExSDRaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
}

html[data-theme='light']
.toggleIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module:after {
  height: 20px;
  width:  20px;
  font-size: 0px;
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjI5MyAxMy4yOTNDMTUuODExNSAxMy45NjMxIDE0LjE2MSAxNC4xNjU5IDEyLjU2MTQgMTMuODc0M0MxMC45NjE3IDEzLjU4MjcgOS40ODg5NSAxMi44MTA2IDguMzM5MTkgMTEuNjYwOUM3LjE4OTQ0IDEwLjUxMTEgNi40MTczNCA5LjAzODMgNi4xMjU3NCA3LjQzODY2QzUuODM0MTUgNS44MzkwMyA2LjAzNjkxIDQuMTg4NTIgNi43MDcwMSAyLjcwNzAzQzUuNTI3NTggMy4yNDAwNCA0LjQ5NTA1IDQuMDUxMjMgMy42OTgwMiA1LjA3MDk5QzIuOTAwOTkgNi4wOTA3NSAyLjM2MzI0IDcuMjg4NjUgMi4xMzA5MiA4LjU2MTkyQzEuODk4NiA5LjgzNTE4IDEuOTc4NjQgMTEuMTQ1OCAyLjM2NDE3IDEyLjM4MTNDMi43NDk3IDEzLjYxNjkgMy40MjkyMiAxNC43NDA0IDQuMzQ0NDIgMTUuNjU1NkM1LjI1OTYxIDE2LjU3MDggNi4zODMxOCAxNy4yNTAzIDcuNjE4NzEgMTcuNjM1OUM4Ljg1NDI0IDE4LjAyMTQgMTAuMTY0OSAxOC4xMDE0IDExLjQzODEgMTcuODY5MUMxMi43MTE0IDE3LjYzNjggMTMuOTA5MyAxNy4wOTkxIDE0LjkyOTEgMTYuMzAyQzE1Ljk0ODggMTUuNTA1IDE2Ljc2IDE0LjQ3MjUgMTcuMjkzIDEzLjI5M1YxMy4yOTNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
}


/* PAGINATION */

.pagination-nav__link {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.pagination-nav__link {
  border-radius:  0;
  padding:  1em 2em;
}

.pagination-nav__item--next .pagination-nav__link {
  border-top-right-radius: 50vh;
  border-bottom-right-radius: 50vh;
}

.pagination-nav__item:not(.pagination-nav__item--next) .pagination-nav__link {
  border-top-left-radius: 50vh;
  border-bottom-left-radius: 50vh;
}

html[data-theme='light'] .pagination-nav__link:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

html[data-theme='light'] .pagination-nav__link:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

html[data-theme='dark'] .pagination-nav__link:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--ifm-background-surface-color);
}

html[data-theme='dark'] .pagination-nav__link:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}


/* SIDEBAR */

aside {
  background-color: #F3F8FB;
}

html[data-theme='dark'] aside {
  background-color: var(--ifm-background-surface-color);
}

.menu__list-item > .menu__list > .menu__list-item:last-child {
  padding-bottom: 1.5rem;
}

.menu__list-item > .menu__list {
  border-left: 1px solid gray;
}

.menu__link--sublist {
  font-weight: bold;
  letter-spacing: -0.05rem;
}

html[data-theme='light'] .menu__link--sublist {
  color:  black;
  color:  #33376D;
}

html[data-theme='dark'] .menu__link--sublist {
  color:  white;
}


/* FOOTER */

/* --ifm-footer-background-color doesn't appear to work */
.footer {
  background-color:  #252746;
}

.footer__links {
  margin-bottom: 2rem;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  color: var(--ifm-color-primary-lightest);
}

.footer__copyright {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: .7rem;
  color: var(--ifm-color-primary-lightest);
}

/* remove external link icons on header/footer links */
.footer__link-item svg, .navbar__items--right .navbar__link svg {
  display: none;
}
