/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "Geist Mono";
  src: url(https://gruntwork.io/_next/media/66f30814ff6d7cdf-s.p.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url(https://gruntwork.io/_next/static/media/d9532b38a05b0008-s.p.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url(https://gruntwork.io/_next/static/media/97ff73edc14fdb02-s.p.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url(https://gruntwork.io/_next/static/media/a34f9d1faa5f3315-s.p.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/55c55f0601d81cf3-s.woff2)
    format("woff2");
  unicode-range: u + 0460-052f, u + 1c80-1c8a, u + 20b4, u + 2de0-2dff,
    u + a640-a69f, u + fe2e-fe2f;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/26a46d62cd723877-s.woff2)
    format("woff2");
  unicode-range: u + 0301, u + 0400-045f, u + 0490-0491, u + 04b0-04b1, u + 2116;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/97e0cb1ae144a2a9-s.woff2)
    format("woff2");
  unicode-range: u + 1f??;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/581909926a08bbc8-s.woff2)
    format("woff2");
  unicode-range: u + 0370-0377, u + 037a-037f, u + 0384-038a, u + 038c,
    u + 038e-3a1, u + 03a3-03ff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/df0a9ae256c0569c-s.woff2)
    format("woff2");
  unicode-range: u + 0102-0103, u + 0110-0111, u + 0128-0129, u + 0168-0169,
    u + 01a0-01a1, u + 01af-01b0, u + 0300-0301, u + 0303-0304, u + 0308-0309,
    u + 0323, u + 0329, u + 1ea0-1ef9, u + 20ab;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/6d93bde91c0c2823-s.woff2)
    format("woff2");
  unicode-range: u + 0100-02ba, u + 02bd-02c5, u + 02c7-02cc, u + 02ce-02d7,
    u + 02dd-02ff, u + 0304, u + 0308, u + 0329, u + 1d00-1dbf, u + 1-1e9f,
    u + 1ef2-1eff, u + 2020, u + 20a0-20ab, u + 20ad-20c0, u + 2113,
    u + 2c60-2c7f, u + a720-a7ff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://gruntwork.io/_next/static/media/a34f9d1faa5f3315-s.p.woff2)
    format("woff2");
  unicode-range: u + 00??, u + 0131, u + 0152-0153, u + 02bb-02bc, u + 02c6,
    u + 02da, u + 02dc, u + 0304, u + 0308, u + 0329, u + 2000-206f, u + 20ac,
    u + 2122, u + 2191, u + 2193, u + 2212, u + 2215, u + feff, u + fffd;
}

/* You can override the default Infima variables here. */
:root {
  /* default */
  /*  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);*/

  /* purple */
  /* --ifm-color-primary: #6f5bd7;
  --ifm-color-primary-dark: #5942d1;
  --ifm-color-primary-darker: #4f36ce;
  --ifm-color-primary-darkest: #3f2aac;
  --ifm-color-primary-light: #8574dd;
  --ifm-color-primary-lighter: #8f80e0;
  --ifm-color-primary-lightest: #b0a5e9; */

  /* blue */
  /*  --ifm-color-primary: #17A9F9;
  --ifm-color-primary-dark: #069cef;
  --ifm-color-primary-darker: #0694e1;
  --ifm-color-primary-darkest: #057aba;
  --ifm-color-primary-light: #32b3fa;
  --ifm-color-primary-lighter: #3fb8fa;
  --ifm-color-primary-lightest: #67c6fb;*/

  /* modern brand */
  --ifm-color-primary: #418cb0;
  --ifm-color-primary-dark: #418cb0;
  --ifm-color-primary-darker: #3c729c;
  --ifm-color-primary-darkest: #34477c;
  --ifm-color-primary-light: #87e0e1;
  --ifm-color-primary-lighter: #cff3f3;
  --ifm-color-primary-lightest: #d6f5f5;

  --ifm-menu-color-background-hover: #e7f0f5;
  --ifm-menu-color-background-active: #e7f0f5;

  --ifm-navbar-height: 100px;

  --ifm-font-family-base: "Inter", Helvetica, Arial, SansSerif;
  --ifm-heading-font-family: "General Sans", Helvetica, Arial, SansSerif;
  --ifm-font-size-base: 95%;
  --ifm-code-font-size: 85%;
  --ifm-h1-font-size: 2.5rem; /* ! */
  --ifm-heading-color: #15192d;

  --ifm-button-border-radius: 12px;

  --ifm-checkbox-border-color: #adb5bd;
}

html[data-theme="dark"] {
  --ifm-menu-color-background-hover: rgba(255, 255, 255, 0.05);
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  --ifm-heading-color: white;

  --ifm-color-primary: #87e0e1;

  --ifm-background-color: #15192d;
  --ifm-background-surface-color: #0d0622;

  --ifm-checkbox-border-color: #777;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] .alert {
  --ifm-alert-background-color: #3d384e;
}

/* Override accidental margin on Markdown code fences */
pre.language-markdown {
  margin-bottom: 0;
}

/* Sneaky selector to target code fence titles */
.theme-code-block > div:first-child:not(only-child) {
  font-weight: 600;
}

main {
  margin-top: 2em;
}

/* Constrain pages without a TOC to same width */
@media only screen and (min-width: 997px) {
  aside + main [class="col"]:only-child {
    max-width: 75% !important;
  }
}

/* IMAGES & CAPTIONS */

p > img:not(.no-zoom) {
  display: block;
  margin: auto;
}

p > img:not(.no-zoom) + em {
  color: gray;
  font-size: 0.9rem;
  display: block;
  text-align: center;
  max-width: 80%;
  margin: 1rem auto 2rem auto;
}

h3 {
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

/* HOME PAGE */

.hero--primary .button--lg {
  --ifm-button-size-multiplier: 1.5;
  --ifm-button-background-color: #87e0e1;
  border: none;
  color: #15192d !important;
  font-weight: 600;
  margin-top: 2rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.hero--primary .button--lg:hover {
  --ifm-button-background-color: var(--ifm-color-primary);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.hero--primary {
  background-color: #252746;
}

.hero__title,
.hero__subtitle {
  color: white;
}

/* NAVBAR + LOGO */

.navbar__brand {
  width: calc(var(--doc-sidebar-width) - var(--ifm-navbar-padding-horizontal));
  border-right: 1px solid var(--ifm-toc-border-color);
  padding-right: 1em;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* Sidebar logo adjustments to match above, overriding values set in DocSidebar module */
aside a > img {
  margin: auto;
  margin-right: auto !important;
  height: 2.75rem !important;
}

@media only screen and (max-width: 996px) {
  .navbar__brand {
    border-right: none;
  }
}

.navbar__logo {
  height: 2.75rem;
  margin-top: 0.5rem;
  margin-right: 0;
}

.navbar {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

html[data-theme="dark"] .navbar {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

/* PAGINATION */

.pagination-nav {
  grid-gap: 12px;
}

.pagination-nav__link {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.pagination-nav__link {
  /* border-radius: 6; */
  border-radius: 0;
  padding: 1em 2em;
}

.pagination-nav__link--next {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pagination-nav__link:not(.pagination-nav__link--next) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

html[data-theme="light"] .pagination-nav__link:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

html[data-theme="light"] .pagination-nav__link:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] .pagination-nav__link:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--ifm-background-surface-color);
}

html[data-theme="dark"] .pagination-nav__link:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

/* SIDEBAR */

aside {
  background-color: #f7fdfd;
}

html[data-theme="dark"] aside {
  background-color: var(--ifm-background-surface-color);
}

.menu__list-item > .menu__list > .menu__list-item:last-child {
  padding-bottom: 0.5rem;
}

/* Special styles for top level guide titles. This selects a top-level
   category which uses the category-index pattern (is selectable) and
   is either the only or last of exactly two items in the sidebar
   (the other of which could be a back button.)
 */
li.theme-doc-sidebar-item-category-level-1:last-child:nth-child(1)
  > *:first-child,
li.theme-doc-sidebar-item-category-level-1:last-child:nth-child(2)
  > *:first-child {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}

.back-button {
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: bold;
  justify-content: left;
}

.back-button a {
  justify-content: left;
}

.back-button > a:before {
  content: "â†";
  margin-right: 0.5rem;
}

/* Hide disclosure carats on top level of guides */
li.theme-doc-sidebar-item-category-level-1
  > div
  > a:not(.menu__link--sublist)
  + button {
  display: none;
}

.menu__link,
.menu__caret {
  padding-right: calc(var(--ifm-menu-link-padding-horizontal) / 3);
}

div:not(.menu__list-item-collapsible--active)
  > .menu__link--sublist.menu__link--active {
  color: var(--ifm-menu-color);
  background-color: none;
}

.menu__link:after,
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

.hidden {
  display: none;
}

.sidebar-header {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 0.25rem;

  /* font-size: 18px; */

  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: var(--ifm-heading-color);
}

.emoji-rocket::before {
  /* margin-right: 0.15em;
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  margin-left: -0.2em;
  background-image: url('data:image/svg+xml,%3Csvg%20class%3D%22w-6%20h-6%20text-gray-800%20dark%3Atext-white%22%20aria-hidden%3D%22true%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M20.337%203.664c.213.212.354.486.404.782.294%201.711.657%205.195-.906%206.76-1.77%201.768-8.485%205.517-10.611%206.683a.987.987%200%200%201-1.176-.173l-.882-.88-.877-.884a.988.988%200%200%201-.173-1.177c1.165-2.126%204.913-8.841%206.682-10.611%201.562-1.563%205.046-1.198%206.757-.904.296.05.57.191.782.404ZM5.407%207.576l4-.341-2.69%204.48-2.857-.334a.996.996%200%200%201-.565-1.694l2.112-2.111Zm11.357%207.02-.34%204-2.111%202.113a.996.996%200%200%201-1.69-.565l-.422-2.807%204.563-2.74Zm.84-6.21a1.99%201.99%200%201%201-3.98%200%201.99%201.99%200%200%201%203.98%200Z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: contain;
  background-repeat: no-repeat; */
}

/* TOC */

.table-of-contents {
  font-size: 0.9rem;
}

.table-of-contents__link--active:before {
  position: absolute;
  left: 0;
  content: ".";
  color: transparent;
  border-left: 2px solid var(--ifm-color-primary);
}

/* BUTTONS */
.link-button {
  display: inline-block;
  padding: 0.25rem 1rem;
  background: transparent;
  color: var(--ifm-heading-color);
  border-color: var(--ifm-heading-color);
  border: solid 2px var(--ifm-heading-color);
  font-weight: 600;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  margin-bottom: 2rem;
}

.link-button:hover {
  color: white;
  background-color: #0d0622;
  text-decoration: none;
  filter: brightness(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.link-button + .link-button {
  margin-left: 0.5rem;
}

html[data-theme="dark"] .link-button:hover {
  color: #0d0622;
  background-color: white;
}

/* ADMONITIONS */

.admonition-icon img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.admonition-icon img + img {
  margin-left: 0.25rem;
}

/* FOOTER */

/* --ifm-footer-background-color doesn't appear to work */
.footer {
  background-color: #0d0622;
}

.footer__links {
  margin-bottom: 2rem;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  color: var(--ifm-color-primary-lightest);
}

.footer__copyright {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
  color: var(--ifm-color-primary-lightest);
}

/* remove external link icons on header/footer/flyout links */
.footer__link-item svg,
.navbar__items--right .navbar__link svg,
.navbar__items--right .dropdown__link svg,
.navbar-sidebar__items .menu__link svg {
  display: none;
}

.snap-top {
  scroll-margin-top: 20px;
}

/* MOBILE */

@media only screen and (max-width: 480px) {
  .hideOnMobile {
    display: none;
  }
}

#more_dropdown,
#more_dropdown + ul {
  display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 997px) {
  .navbar__items--right > a {
    display: none;
  }

  #more_dropdown,
  #more_dropdown + ul {
    display: block;
  }
}

@media only screen and (max-width: 996px) {
  .navbar__brand {
    border-right: none;
  }

  .navbar-sidebar__brand .navbar__brand {
    display: none;
  }
}

.dont_show {
  display: none;
}

.external-link a::after {
  content: "";
  display: inline-block;
  width: 13.5px;
  height: 13.5px;
  margin-left: 0.3rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="iconExternalLink_nPIU"%3E%3Cpath fill="%23606770" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}

html[data-theme="dark"] .external-link a::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="iconExternalLink_nPIU"%3E%3Cpath fill="%23DADDE1" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"%3E%3C/path%3E%3C/svg%3E');
}

.customizable-value {
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  color: #6f5bd7;
}

.customizable-value input {
  appearance: none;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  outline: none;
  color: #6f5bd7;
  background-color: transparent;
  border: 1px solid #e7eaf3;
  border-radius: 4px;
  padding: 2px;
}

.customizable-value span::after {
  content: "";
  display: inline-block;
  width: 13.5px;
  height: 13.5px;
  margin-left: 0.3rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%236f5bd7%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolygon%20points%3D%2216%203%2021%208%208%2021%203%2021%203%2016%2016%203%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
  background-size: contain; /* Add this line */
  background-repeat: no-repeat; /* Add this line too */
}

html[data-theme="dark"] .customizable-value {
  color: #ab80fe;
}

html[data-theme="dark"] .customizable-value span::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ab80fe%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolygon%20points%3D%2216%203%2021%208%208%2021%203%2021%203%2016%2016%203%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
}

.persistent-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px; /* Increased font size */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the default checkbox */
.persistent-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px; /* Increased size */
  width: 25px; /* Increased size */
  background-color: #eee;
  border-radius: 5px; /* Added rounded corners */
  border: 2px solid #ccc; /* Added a more prominent border */
}

/* On mouse-over, add a grey background color */
.persistent-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
  border: 2px solid #ccc; /* Added a more prominent border */
}

/* When the checkbox is checked, add a blue background */
.persistent-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.persistent-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.persistent-checkbox .checkmark:after {
  left: 7px; /* Adjusted left position */
  top: 2.5px; /* Adjusted top position */
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Create a custom checkbox that looks like the default */
.contains-task-list li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--ifm-background-color);
  margin-right: 0.5rem;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid var(--ifm-checkbox-border-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}

/* Create the checkmark/indicator using an SVG (hidden when not checked) */
.contains-task-list li input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
}

/* Show the checkmark when checked */
.contains-task-list li input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Change the background color of the box when checked */
.contains-task-list li input[type="checkbox"]:checked {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

/* Bold top-level sidebar items in the Way section only */
.way-top-level-item > div > a.menu__link,
.way-top-level-item > a.menu__link {
  font-weight: bold;
}
